In [1]:
import pandas as pd

In [2]:
## Data available here: https://www.kaggle.com/tunguz/big-five-personality-test

In [3]:
## Video used for analysis: https://www.youtube.com/watch?v=b3YwX9q-pDQ&t=616s

In [4]:
data = pd.read_csv("data-final.csv", sep="\t")

In [17]:
len(data)

876217

In [6]:
## Columns with the tag _E are the time spent on the question, which I will drop
## We'll also drop dataload, screennw, screenhm introelapse, testelapse, endelapse, IPC, latitude and longitude
## We'll keep country and will compare if the personality is affected by country

In [7]:
to_remove = [i for i in data.columns[50:107]]
for j in data.columns[108:]:
    to_remove.append(j)

In [8]:
data.drop(to_remove, axis=1, inplace=True) ## First drop, by removing unnecessary columns

In [9]:
pd.options.display.float_format = "{:.2f}".format
data.describe()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10
count,1013558.00,1013558.00,1013558.00,1013558.00,1013558.00,1013558.00,1013558.00,1013558.00,1013558.00,1013558.00,...,1013558.00,1013558.00,1013558.00,1013558.00,1013558.00,1013558.00,1013558.00,1013558.00,1013558.00,1013558.00
mean,2.65,2.77,3.29,3.14,3.28,2.40,2.77,3.41,2.96,3.56,...,3.65,2.08,4.00,2.00,3.79,1.89,3.98,3.18,4.12,3.96
std,1.26,1.32,1.22,1.24,1.28,1.23,1.40,1.27,1.35,1.31,...,1.16,1.11,1.10,1.09,0.99,1.10,1.01,1.26,1.04,1.03
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,1.00,2.00,2.00,2.00,2.00,1.00,2.00,2.00,2.00,3.00,...,3.00,1.00,3.00,1.00,3.00,1.00,3.00,2.00,4.00,3.00
50%,3.00,3.00,3.00,3.00,3.00,2.00,3.00,4.00,3.00,4.00,...,4.00,2.00,4.00,2.00,4.00,2.00,4.00,3.00,4.00,4.00
75%,4.00,4.00,4.00,4.00,4.00,3.00,4.00,4.00,4.00,5.00,...,5.00,3.00,5.00,3.00,5.00,2.00,5.00,4.00,5.00,5.00
max,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,...,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00

In [10]:
## Data goes from 1 to 5, but we see that that are 0 values in basically all columns

In [12]:
zeros = list()
final_zeros =  list()

for i in data.columns:
    for j in data[(data[i]==0)].index:
        zeros.append(j) ## For each column, the for will go over the lines with 0 in it and get the indexes
        ## This may create duplicates because more than one column can have 0's in the same index

        if j not in final_zeros:
            final_zeros.append(j)
            ## To remove the duplicates we go over the index list and append to a new list
            ## only the ones that are not already in the list
        
            ## You can see that the final_zeros is smaller than the zeros

In [13]:
len(zeros)

370370

In [14]:
len(final_zeros) ## Checking size of lists

139124

In [15]:
data.drop(final_zeros, axis=0, inplace=True) ## Second drop, removing 0 values

In [15]:
data.dropna(axis=0, inplace=True)
data.isna().sum()

EXT1       0
EXT2       0
EXT3       0
EXT4       0
EXT5       0
EXT6       0
EXT7       0
EXT8       0
EXT9       0
EXT10      0
EST1       0
EST2       0
EST3       0
EST4       0
EST5       0
EST6       0
EST7       0
EST8       0
EST9       0
EST10      0
AGR1       0
AGR2       0
AGR3       0
AGR4       0
AGR5       0
AGR6       0
AGR7       0
AGR8       0
AGR9       0
AGR10      0
CSN1       0
CSN2       0
CSN3       0
CSN4       0
CSN5       0
CSN6       0
CSN7       0
CSN8       0
CSN9       0
CSN10      0
OPN1       0
OPN2       0
OPN3       0
OPN4       0
OPN5       0
OPN6       0
OPN7       0
OPN8       0
OPN9       0
OPN10      0
country    0
dtype: int64

In [20]:
data.to_csv("data-final-clean.csv", index=False)