This dataset deals with air pollution measurement information in Seoul, South Korea.
Seoul Metropolitan Government provides many public data, including air pollution information, through the 'Open Data Plaza'
I made a structured dataset by collecting and adjusting various air pollution related datasets provided by the Seoul Metropolitan Government

Content
This data provides average values for six pollutants (SO2, NO2, CO, O3, PM10, PM2.5).

Data were measured every hour between 2017 and 2019.
Data were measured for 25 districts in Seoul.
This dataset is divided into four files.
Measurement info: Air pollution measurement information

1 hour average measurement is provided after calibration
Instrument status:
0: Normal, 1: Need for calibration, 2: Abnormal
4: Power cut off, 8: Under repair, 9: abnormal data
Measurement item info: Information on air pollution measurement items

Measurement station info: Information on air pollution instrument stations

Measurement summary: A condensed dataset based on the above three data.

Acknowledgements
Data is provided from here.

https://data.seoul.go.kr/dataList/OA-15526/S/1/datasetView.do
https://data.seoul.go.kr/dataList/OA-15516/S/1/datasetView.do
https://data.seoul.go.kr/dataList/OA-15515/S/1/datasetView.do
Thank you to Seoul City, Seoul Open Data Plaza, and Air Quality Analysis Center for providing data.

## This dataset will use the Measurement summary taken from Kaggle and manual data collect by me and merge these data into a Excel file and a csv file

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
## Reading our data

df = pd.read_csv("Measurement_summary.csv")

In [3]:
## Checking our data

df.head()

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.059,0.002,1.2,73.0,57.0
1,2017-01-01 01:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.058,0.002,1.2,71.0,59.0
2,2017-01-01 02:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,59.0
3,2017-01-01 03:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,58.0
4,2017-01-01 04:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.051,0.002,1.2,69.0,61.0

In [4]:
## Checking type of columns

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647511 entries, 0 to 647510
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Measurement date  647511 non-null  object
 1   Station code      647511 non-null  int64
 2   Address           647511 non-null  object
 3   Latitude          647511 non-null  float64
 4   Longitude         647511 non-null  float64
 5   SO2               647511 non-null  float64
 6   NO2               647511 non-null  float64
 7   O3                647511 non-null  float64
 8   CO                647511 non-null  float64
 9   PM10              647511 non-null  float64
 10  PM2.5             647511 non-null  float64
dtypes: float64(8), int64(1), object(2)
memory usage: 54.3+ MB

In [5]:
df.drop(["Address", "Latitude", "Longitude"], axis=1, inplace=True)
df.head()

   Measurement date  Station code    SO2    NO2     O3   CO  PM10  PM2.5
0  2017-01-01 00:00           101  0.004  0.059  0.002  1.2  73.0   57.0
1  2017-01-01 01:00           101  0.004  0.058  0.002  1.2  71.0   59.0
2  2017-01-01 02:00           101  0.004  0.056  0.002  1.2  70.0   59.0
3  2017-01-01 03:00           101  0.004  0.056  0.002  1.2  70.0   58.0
4  2017-01-01 04:00           101  0.003  0.051  0.002  1.2  69.0   61.0

In [6]:
## Converting our column to date, as the column was an object tyoe
df['Measurement date'] = pd.to_datetime(df['Measurement date'])

In [7]:
## Creating a table to see the standard values for good and bad air quality

polluents = {'SO2':[0.02,0.05,0.15,1],'NO2':[0.03,0.06,0.2,2],'CO':[2,9,15,50],'O3':[0.03,0.09,0.15,0.5],'PM2.5':[15,35,75,500],'PM10':[30,80,150,600]}
quality = ['Good','Normal','Bad','Very Bad']
seoul_standard = pd.DataFrame(polluents, index=quality)
seoul_standard

           SO2   NO2  CO    O3  PM2.5  PM10
Good      0.02  0.03   2  0.03     15    30
Normal    0.05  0.06   9  0.09     35    80
Bad       0.15  0.20  15  0.15     75   150
Very Bad  1.00  2.00  50  0.50    500   600

In [8]:
data2020 = pd.read_csv("2020_data.csv")

In [9]:
data2020.head(10)

,Date,Station_code,Metric,Measurement,Instrument_status,Category_national,Category_local,Storage_date
0,20200131230000,117,1,0.005,0,0,0,20200131235849
1,20200131230000,104,9,35.000,0,0,0,20200201000015
2,20200131230000,104,8,47.000,0,0,0,20200201000015
3,20200131230000,101,3,0.048,0,0,0,20200201000015
4,20200131230000,101,1,0.003,0,0,0,20200201000015
5,20200131230000,101,5,0.700,0,0,0,20200201000015
6,20200131230000,101,6,0.007,0,0,0,20200201000015
7,20200131230000,101,8,48.000,0,0,0,20200201000015
8,20200131230000,101,9,34.000,0,0,0,20200201000015
9,20200131230000,111,9,33.000,0,0,0,20200201000030

In [10]:
data2020.drop(['Instrument_status', 'Category_national', 'Category_local', 'Storage_date'], axis=1, inplace=True)

In [11]:
data2020['Date'] = pd.to_datetime(data2020['Date'], format='%Y%m%d%H%M%S')
data2020.head()

                 Date  Station_code  Metric  Measurement
0 2020-01-31 23:00:00           117       1        0.005
1 2020-01-31 23:00:00           104       9       35.000
2 2020-01-31 23:00:00           104       8       47.000
3 2020-01-31 23:00:00           101       3        0.048
4 2020-01-31 23:00:00           101       1        0.003

In [12]:
## Now I'm gonna automate the preprocessing of the data for each dataframe and save into a excel_file
## Each Sheet of this Excel file is a station.

## Creating a dataframe for each station code

df_101 = pd.DataFrame(df.loc[(df['Station code']==101)])
df_102 = pd.DataFrame(df.loc[(df['Station code']==102)])
df_103 = pd.DataFrame(df.loc[(df['Station code']==103)])
df_104 = pd.DataFrame(df.loc[(df['Station code']==104)])
df_105 = pd.DataFrame(df.loc[(df['Station code']==105)])
df_106 = pd.DataFrame(df.loc[(df['Station code']==106)])
df_107 = pd.DataFrame(df.loc[(df['Station code']==107)])
df_108 = pd.DataFrame(df.loc[(df['Station code']==108)])
df_109 = pd.DataFrame(df.loc[(df['Station code']==109)])
df_110 = pd.DataFrame(df.loc[(df['Station code']==110)])
df_111 = pd.DataFrame(df.loc[(df['Station code']==111)])
df_112 = pd.DataFrame(df.loc[(df['Station code']==112)])
df_113 = pd.DataFrame(df.loc[(df['Station code']==113)])
df_114 = pd.DataFrame(df.loc[(df['Station code']==114)])
df_115 = pd.DataFrame(df.loc[(df['Station code']==115)])
df_116 = pd.DataFrame(df.loc[(df['Station code']==116)])
df_117 = pd.DataFrame(df.loc[(df['Station code']==117)])
df_118 = pd.DataFrame(df.loc[(df['Station code']==118)])
df_119 = pd.DataFrame(df.loc[(df['Station code']==119)])
df_120 = pd.DataFrame(df.loc[(df['Station code']==120)])
df_121 = pd.DataFrame(df.loc[(df['Station code']==121)])
df_122 = pd.DataFrame(df.loc[(df['Station code']==122)])
df_123 = pd.DataFrame(df.loc[(df['Station code']==123)])
df_124 = pd.DataFrame(df.loc[(df['Station code']==124)])
df_125 = pd.DataFrame(df.loc[(df['Station code']==125)])

dfs = [df_101, df_102, df_103, df_104, df_105, df_106, df_107, df_108, df_109,
       df_110, df_111, df_112, df_113, df_114, df_115, df_116, df_117, df_118,
       df_119, df_120, df_121, df_122, df_123, df_124, df_125]

In [13]:
length = range(101,126)
new_df = []

for (i,df) in zip(length,dfs):

    so2 = data2020[['Date', 'Measurement']].loc[(data2020['Station_code']==i) & (data2020['Metric']==1)]
    no2 = data2020[['Date', 'Measurement']].loc[(data2020['Station_code']==i) & (data2020['Metric']==3)]
    o3 = data2020[['Date', 'Measurement']].loc[(data2020['Station_code']==i) & (data2020['Metric']==6)]
    co = data2020[['Date', 'Measurement']].loc[(data2020['Station_code']==i) & (data2020['Metric']==5)]
    pm10 = data2020[['Date', 'Measurement']].loc[(data2020['Station_code']==i) & (data2020['Metric']==8)]
    pm25 = data2020[['Date', 'Measurement']].loc[(data2020['Station_code']==i) & (data2020['Metric']==9)]
    ## As the measuremente from the 2020 data is indicated by a code (1,3,5,6,8,9), we have to use loc to find these data
    ## We iterate over the station codes 'i' to save data from the gases
    
    so2.sort_values(by=['Date'], inplace=True)
    no2.sort_values(by=['Date'], inplace=True)
    o3.sort_values(by=['Date'], inplace=True)
    co.sort_values(by=['Date'], inplace=True)
    pm10.sort_values(by=['Date'], inplace=True)
    pm25.sort_values(by=['Date'], inplace=True)
    
    shapex,shapey = so2.shape
    station = np.full((shapex,),i)
    ##After the data is saved, we sort it by date, so it's from january,1st to december, 31th
    
    so2 = pd.DataFrame({'Measurement date':so2['Date'], 'Station code':station, 'SO2':so2['Measurement']})
    no2 = pd.DataFrame({'Measurement date':no2['Date'], 'NO2':no2['Measurement']})
    o3= pd.DataFrame({'Measurement date':o3['Date'], 'O3':o3['Measurement']})
    co = pd.DataFrame({'Measurement date':co['Date'], 'CO':co['Measurement']})
    pm10 = pd.DataFrame({'Measurement date':pm10['Date'], 'PM10':pm10['Measurement']})
    pm25 = pd.DataFrame({'Measurement date':pm25['Date'], 'PM2.5':pm25['Measurement']})
    ##Then we create dataframes for each gas in the current station
    
    df2020 = so2.merge(no2, how='left').merge(o3, how='left').merge(co, how='left').merge(pm10, how='left').merge(pm25, how='left')
    ##Here, we'll merge the datasets created into just one, this will make looks like the previous dataset, as
    ##it's in the same sequence of the 2017-2019 dataset
    
    frames = [df, df2020] ## here we define the datasets to concatenate, the current df (df101, df102,...)
    ## and the 2020 dataset
    
    to_append = pd.concat(frames).reset_index(drop=True) ## We concatenate 2017-2019 with 2020 data
    new_df.append(to_append) ##And finally we save into a new variable

In [14]:
## Cleaning the data in the dataset

for df in new_df:

    to_drop = df.loc[(df['SO2']<=0) | 
                     (df['NO2']<=0) |
                     (df['CO']<=0) | 
                     (df['O3']<=0) | 
                     (df['PM2.5']<=0) | 
                     (df['PM10']<=0)
                    ]
    
    df.drop(to_drop.index, axis=0, inplace=True)

In [15]:
new_df[0]

         Measurement date  Station code    SO2    NO2     O3   CO  PM10  PM2.5
0     2017-01-01 00:00:00           101  0.004  0.059  0.002  1.2  73.0   57.0
1     2017-01-01 01:00:00           101  0.004  0.058  0.002  1.2  71.0   59.0
2     2017-01-01 02:00:00           101  0.004  0.056  0.002  1.2  70.0   59.0
3     2017-01-01 03:00:00           101  0.004  0.056  0.002  1.2  70.0   58.0
4     2017-01-01 04:00:00           101  0.003  0.051  0.002  1.2  69.0   61.0
...                   ...           ...    ...    ...    ...  ...   ...    ...
34658 2020-12-31 19:00:00           101  0.003  0.028  0.013  0.5  34.0   15.0
34659 2020-12-31 20:00:00           101  0.003  0.023  0.017  0.5  35.0   15.0
34660 2020-12-31 21:00:00           101  0.003  0.022  0.017  0.5  34.0   17.0
34661 2020-12-31 22:00:00           101  0.003  0.016  0.022  0.5  33.0   19.0
34662 2020-12-31 23:00:00           101  0.003  0.015  0.024  0.5  26.0   14.0

[34505 rows x 8 columns]

In [16]:
##conda install openpyxl 
## !pip install xlsxwriter
## remove comment if you need to install excel package to write a excel file

In [17]:
i = 101

sheet_names = {}

for j in new_df:
    station = 'Station_'+str(i)
    sheet_names.update({station:j})
    i = i + 1
    
## We'll need a dictionary with our Station_x as key to be used as a sheet name
## and the current df as a value. With this, we can iterate over this dictionary
## and create a sheet with the station_x name and the data fom the df.

In [18]:
writer = pd.ExcelWriter('Station_Data.xlsx', engine='xlsxwriter')

for name,frame in sheet_names.items(): ## Iterating over the created dictionary
    
    frame.to_excel(writer, sheet_name = name, startrow=1, header=False, index=False) 
    ## frame is our value of the dict. It's our current dataframe, name is our Key. As we iterate over this dict
    ## the values will be name, frame = Station_101, df_101 -> Station_102, df_102 -> ... Station_125, df_125

    # Get the xlsxwriter workbook and worksheet objects. *
    workbook = writer.book
    worksheet = writer.sheets[name]
    
    # Get the dimensions of the dataframe.*
    (max_row, max_col) = frame.shape

    # Create a list of column headers, to use in add_table(). *
    column_settings = [{'header': column} for column in frame.columns]

    # Add the Excel table structure. Pandas will add the data. *
    worksheet.add_table(0, 0, max_row, max_col - 1, {'columns': column_settings})

    # Make the columns wider for clarity. *
    worksheet.set_column(0, max_col - 1, 12)
    
    ## The comments and code for the lines with * were taken from
    ## https://xlsxwriter.readthedocs.io/example_pandas_table.html#ex-pandas-table
    ## This guide help to create a formated table 

writer.save()

In [33]:
complete_data = pd.read_csv("Air_Quality_Seoul_2017-2020.csv")

for df in new_df:
    df.to_csv("Air_Quality_Seoul_2017-2020.csv",index=False,mode='a',header=False)
    ##index will only import the relevant data
    ##header will prevent the column names from being imported

## When manually creating the file, remember to type the column names and press enter,
## so the append will add data into the second line